<div align="center">
    <h3>Greetings, {{ name }} {{ surname }} </h3>
    <h4>Tap this link to verify your profile: </h4>
    <button style="
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgb(33, 35, 35) 0%, rgb(74, 80, 91) 50%, rgb(25, 28, 32) 100%);
        border:1px solid #241d13;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 23px;
        text-decoration:none;
    ">{{ token }}</button>
    <p><small>Take care that you can`t normally use unverified profile</small></p>
</div>